.bgHeader {
    background-color: #32DE8A !important;
}

.bgListItem{
    background-color: #EFEFEF !important;
}

.closeButton {
    background-color: transparent !important;
    border-color: #32DE8A !important;
    border-radius: 5px !important;
    border-width: 2.5px !important;
    color: #32DE8A !important;
}

.closeButton:hover {
    background-color: #32DE8A !important;
    color: #FFFFFF !important;
}